/*==================== CATEGORIES ====================*/
.main {
    width: 100%;
}

/*==================== CATEGORIES ====================*/
.categories {
    padding: 30px 0 30px 0;
}

.categories-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    width: 415px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.10);
}

.search-button {
    border: 1px solid var(--border-input-color);
    border-right: none;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: var(--background-container-color);
    padding: 9.5px 6px 9.5px 17px;
    cursor: pointer;
}

.search-input {
    height: 48px;
    font-size: var(--small-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--small-line-height);
    color: var(--text-gray-color);
    border: 1px solid var(--border-input-color);
    border-left: none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: var(--background-container-color);
    padding: 12px 20px 12px 6px;
}

.search-input:focus {
    border-color: var(--border-input-color);
    outline: none;
}

.add-categories {
    font-size: calc(var(--big-font-size) + 5px);
    font-weight: var(--regular-font-weight);
    line-height: var(--big-line-height);
    color: var(--text-gray-color);
    border: 1px solid var(--border-input-color);
    border-radius: 14px;
    background-color: var(--background-container-color);
    transition: border-color 0.2s ease-in-out;
    padding: 2px 8px;
    cursor: pointer;
}

.add-categories:hover {
    border-color: var(--accent-color);
}

.categories-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 14px;
}

tr {
    background-color: var(--background-container-color);
}

tr:nth-child(even) {
    background-color: #f5f5f569;
}

th, td {
    font-size: var(--small-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--small-line-height);
    color: var(--text-dark-color);
    border: 1px solid var(--border-input-color);
    text-align: left;
    padding: 10px;
}

th {
    border-top: none;
    border-left: none;
    font-weight: var(--bold-font-weight);
}

th:last-child {
    border-right: none;
}

td {
    border-top: none;
    border-bottom: none;
    border-left: none;
}

td:last-child {
    border-right: none;
}

.change-td {
    display: flex;
    gap: 15px;
}

.edit-button,
.delete-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pagination-box {
    margin-top: 20px;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pagination-text {
    font-size: var(--smaller-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--smaller-line-height);
    color: var(--text-dark-color);
}

.dropdown {
    max-width: 50px;
    width: 100%;
    position: relative;
}

.dropdown-btn {
    font-size: var(--smaller-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--smaller-line-height);
    color: var(--text-dark-color);
    border: 1px solid var(--border-input-color);
    border-radius: 12px;
    background-color: var(--background-container-color);
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.2s linear;
}

.dropdown-btn:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.dropdown-btn .arrow {
    width: 19px;
    height: 15px;
    transition: all 0.2s ease-in-out;
}

.dropdown-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--smaller-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--smaller-line-height);
    border: 1px solid var(--border-input-color);
    border-radius: 12px;
    background-color: var(--background-container-color);
    padding: 5px;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.dropdown-content li {
    position: relative;
    left: 110%;
    transition: all 0.2s ease-in-out;
    transition-delay: calc(60ms * var(--delay));
}

.dropdown-content li a {
    color: var(--text-dark-color);
    transition: color 0.2s linear;
}

.dropdown-content li:hover a {
    color: var(--accent-color);
}

.dropdown-btn:focus + .dropdown-content {
    visibility: visible;
}

.dropdown-btn:focus > .arrow {
    transform: rotate(180deg);
}

.dropdown-btn:focus + .dropdown-content li {
    left: 0;
}

.array {
    border: 1px solid var(--border-input-color);
    border-radius: 12px;
    background-color: var(--background-container-color);
    transition: border-color 0.2s ease-in-out;
    padding: 7px 7px 4px 7px;
    cursor: pointer;
}

.array:hover {
    border-color: var(--accent-color);
}

.array img {
    width: 19px;
    height: 15px;
}

/*==================== BREAKPOINTS ====================*/
@media screen and (max-width: 430px) {
    .categories {
        padding: 0;
    }

    .categories-content {
    }
}

@media screen and (max-width: 380px) {
    .categories-content {
    }
}

@media screen and (max-width: 368px) {
    .categories-content {
    }
}
